.navbar { 
  background-color: #006666;
}

.navbar-brand{
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow:#AA 2px 0px ;
    font-size: 40px;
    color: #000000; 
}

.pError{
	font-family: Georgia, "Times New Roman", Times, serif;
	text-shadow:#AAA 2px 2px 2px;
	color: #FF0000;
	font-size: 14px;
}
	
.especial{
	font-family: emmasophia;	
	color: #000000;
	font-size: 20px;
}

.salir{
    text-decoration: none;
    font-family: helvetica;
    font-weight: 300;
    font-size: 18px;
    background-color: #814676;
    border: 3px double #814676;   
}
 
 /* color de fondo de la pagina */
 .main {
    background-color:#dddddd;
} 

.maindd {
    background-color:#006666;
} 

.label-info {
    background-color:#EEEEEE;
} 
.puntos{
    font-family: kristen ITC;
    color: #00cc00;
    font-size: 18px;    
}

.miClase{
     font-family: Hercules;
     color: #FFFFFF;
     font-size: 20px;
}
   
.botella{
     font-family: Georgia;
     color: #000000;
     font-size: 20px;
}
.btn{
    background:#006666;
    background-color: #006666;
    border-color: #006666;
    color: white;
}

div.img{
  display:table;
}

div.img img{
 margin:0;
 padding:0;
}

div.img span{
 line-height:normal;
 font-size:14px;
 display:table-caption;
 margin:0;
 background:#2E8B57;
 color:white;
 font-style:italic;
 padding:5px;
 text-align:center;
}

.bodyLala {
    background-color:#dddddd;
} 
