<!DOCTYPE HTML>

<html>

	<head>
		<title>Gaseosas Arenba - Reportes</title>
		<!-- -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel=stylesheet href="../css/style.css">
		
	</head>
	<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Gaseosa Arenba</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Codigos informados</a></li>
            <li><a href="#" class="active">Productos Canjeados</a></li>
          </ul>
        </li>
     
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span>Salir</a></li>
      </ul>
    </div>
  </div>
</nav>
	
<div class="form-group row">
 
            <div class="col-md-2">
                <label>Desde</label>
                <select class="form-control" ng-model="imes" ng-options="mes.titulo for mes in meses" />
                <select class="form-control" ng-model="ianyo" ng-options="anyo for anyo in anyos" />
            </div>
 
            <div class="col-md-2">
                <label>Hasta</label>
                <select class="form-control" ng-model="fmes" ng-options="mes.titulo for mes in meses" />
                <select class="form-control" ng-model="fanyo" ng-options="anyo for anyo in anyos" />
            </div>
        </div>
            

</html>
